body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
#loginSection,
#adminSection,
#votingSection {
    display: none;
}
#wordList {
    list-style-type: none;
}
.word {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}
button {
    cursor: pointer;
}
