html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* background color */
    position: relative;
    background-image: url(/assets/shame.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.shameDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333; /* text color */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.25rem;
    margin: 10px 0;
    color: #333; /* text color */
}

#first {
    transform: rotate(20deg);
}

#second {
    transform: rotate(-20deg);
}

#bonk {
    position: absolute;
    top: -5%;
    left: 27%;
    transform: rotate(0deg);
}
#bonk2 {
    position: absolute;
    top: -5%;
    left: 45%;
    transform: scaleX(-1);
}
